@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.nav-hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav {
    
    ul {
        display: flex;
        gap: 20px;
        list-style: none;
        
        li {
            text-decoration: none;
        }
    }
}

#panier {
    padding-top: 20px;
}
.panier-items {
    display: flex;
    justify-content: space-between;
}
.panier-item {
    display: flex;
    align-items: center;
    gap: 10px;

    &-choice {
        display: flex;
        gap: 5px;

        &-add {
            cursor: pointer;
        }

        &-remove {
            cursor: pointer;
        }
    }
}